.container {
  padding: 2.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1rem;
}

.tbody > tr > td {
  text-align: center;
}

.tbody > tr > td:nth-child(2) {
  width: 15%;
}

.tdImage {
  height: 6rem;
  width: 6rem;
}

.tdImage > img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.removeIcon {
  cursor: pointer;
  user-select: none;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 16rem;
  padding: 1.6rem;
  background: var(--cartBack);
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.cart > span {
  font-weight: bold;
  font-size: 1.5rem;
}

.cartDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cartDetails > div {
  display: flex;
  justify-content: space-between;
}

.paymentOptions {
  display: flex;
  gap: 1rem;
}

.paymentOptions > * {
  font-size: 0.8rem;
  padding: 0.8rem;
}

.paymentOptions :first-child {
  background-color: transparent;
  color: var(--themeRed);
  border: 2px solid var(--themeRed);
}

.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 1.5rem;
}

.emptyCartCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background: var(--cartBack);
  box-shadow: var(--shadow);
  height: 25rem;
  width: 40rem;
  color: var(--gray);
}

.emptyCartCard :nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--themeRed);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .table {
    border-spacing: 0.1rem;
  }

  .tdImage {
    height: 6rem;
    width: 6rem;
  }

  .tdImage > img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }

  .cartDetails {
    gap: 1rem;
  }
}
