.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.cartItems {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  height: max-content;
}

.cartItem {
  display: flex;
  gap: 1rem;
  box-shadow: var(--shadow);
  background: var(--cartBack);
  padding: 1rem;
  border-radius: 15px;
  height: 10rem;
  width: 27rem;
}

.image {
  flex: 1;
  align-self: center;
  height: 6rem;
  width: 100%;
}

.image > img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.description {
  flex: 2;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.description > span {
  font-weight: bold;
}

.quantity {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.quantity :first-child {
  text-transform: capitalize;
  color: var(--themeRed);
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  font-weight: bold;
}

.removeIcon {
  cursor: pointer;
  user-select: none;
}

.checkout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1.6rem;
  background: var(--cartBack);
  box-shadow: var(--shadow);
  border-radius: 15px;
  height: max-content;
}

.checkout > span {
  font-weight: bold;
  font-size: 1.5rem;
}

.cartDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cartDetails > div {
  display: flex;
  justify-content: space-between;
}

.cartDetails > div :last-child {
  font-weight: bold;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.checkoutForm > input,
.checkoutForm > textarea {
  width: 100%;
  outline: none;
  padding: 0.8rem;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 0.4rem;
}

.paymentOptions {
  display: flex;
  gap: 1rem;
}

.paymentOptions > * {
  font-size: 0.8rem;
  padding: 0.8rem;
}

.paymentOptions :first-child {
  background-color: transparent;
  color: var(--themeRed);
  border: 2px solid var(--themeRed);
}

.emptyCart {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3rem 1.5rem;
}

.emptyCartCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background: var(--cartBack);
  box-shadow: var(--shadow);
  height: 25rem;
  width: 40rem;
  color: var(--gray);
}

.emptyCartCard :nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--themeRed);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }

  .cartItems {
    gap: 2rem;
    padding: 0;
  }

  .cartItem {
    gap: 1rem;
    font-size: 0.8rem;
  }

  .image {
    flex: 1.5;
    align-self: center;
  }

  .image img {
    object-fit: cover;
  }

  .quantity {
    gap: 1rem;
  }
}
