@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  transition: all 300ms ease;
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--themeBlack);
  background: var(--background-color);
  overflow-x: hidden;
}

:root {
  --themeRed: #f54748;
  --themeBlack: #2e2e2e;
  --pink: #fdecec;
  --gray: #828282;
  --shadow: -4px 12px 20px -2px rgba(0, 0, 0, 0.19);
  --background-color: linear-gradient(
    180deg,
    rgba(255, 237, 237, 0.85) 0%,
    rgba(255, 255, 255, 0) 30rem
  );
  --cartBack: rgba(255, 255, 255, 0.38);
  --footer-background-color: linear-gradient(
    1deg,
    rgba(255, 237, 237, 0.85) 0%,
    rgba(255, 255, 255, 0) 14rem
  );
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: pink;
}

::-webkit-scrollbar-thumb {
  background: var(--themeRed);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  flex: 1;
}

.logo:first-letter {
  color: var(--themeRed);
}

button {
  width: max-content;
  padding: 1rem;
  border-radius: 4rem;
  color: white;
  background-color: var(--themeRed);
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.themeTextColor {
  color: var(--themeRed);
}
